{% extends 'base.html' %}

{% block card %}
{% include 'navbar.html' %}
<main role="main" class="container">
        <div class="card my-3 p-3 bg-white rounded shadow-sm">
            <!-- Default form contact -->           
            <form class="text-center border border-light p-5"  action = "{{url_for('editCatalogItem', catalogs = catalogs, catalog_id=catalog.id, item_id=item.id)}}"
                    method = "post">
                    
                    <p class="h4 mb-4">Edit Item</p>
                
                    <!-- Title -->
                    <input type="text" name='title'  class="form-control mb-4" placeholder="{{item.title}}">
                
                    <!-- Category -->
                    <p class="h4 mb-4">Category</p>
                    <select name='category' class="browser-default custom-select mb-4">
                        <option value="" disabled>Choose option</option>
                        {% for catalog in catalogs %}
                        <option value="{{catalog.name}}">{{catalog.name}}</option>
                        {% endfor %}
                    </select>
                
                    <!-- Description -->
                    <div class="form-group">
                        <textarea class="form-control rounded-0" name='description'  rows="3" placeholder="{{item.description}}"></textarea>
                    </div>
                
                    <!-- Save and Cancel button -->
                    <div class="text-center">
                        <input class="btn btn-info btn-block" type="submit" value="Save"></input>
                        <a href="{{url_for('showCatalogItems', catalog_id=catalog.id)}}">
                            <button type="button" class="btn btn-info">Cancel</button>
                        </a>    
                    </div>
            </form>
            <!-- Default form contact -->
        </div>    
</main>

{% endblock %}