<!--Always show navbar in all pages-->
<nav class="navbar navbar-dark bg-dark purple-gradient">
    <a class="navbar-brand" href="{{url_for('showCatalogApp')}}">
        <h1><b>Catalog App</b></h1>
    </a>
    <ul class="navbar-nav nav-flex-icons">
        {%if 'username' in session %}
        <li class="nav-item avatar">
            <img class="img-fluid rounded-circle z-depth-0" src="{{session['picture']}}" height="42" width="42">
        </li>
        <li class="nav-item">
            <a class="nav-link">{{session['username']}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('disconnect')}}">
                <button type="button" class="btn btn-warning">Logout</button>
            </a> {% else %}
            <a class="nav-link" href="{{url_for('showLogin')}}">
                <button type="button" class="btn btn-success">Login</button>
            </a> {% endif %}
        </li>
    </ul>
</nav>